vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args
html
body
  width 100%
  background-color #BFEAF7
body
  display flex
  display -webkit-flex
  justify-content center
  align-items center
  margin 8px
  .webpage
    position relative
    margin auto
    display block
    margin-top 100px
    width 600px
    height 420px
    background-color #EBF3FE
    z-index 1
    .top-button-left
    .top-button-middle
    .top-button-right
      position absolute
      top 2%
      border-radius 50%
      width: 3.5%;
      height: 5%;
      background-color #818D98
    .top-button-left
      left 3%
    .top-button-middle
      left 7%
    .top-button-right
      left 11%
    .bar
      position absolute
      width 100%
      background-color #26B56F
      top 10%
      height 3%
    .box-top-left
    .box-top-right
    .box-bottom-left
    .box-bottom-right
      position absolute
      width 40%
      height 35%
    .box-top-left
      top 18%
      left 8%
      background-color #7C90CF
    .box-top-right
      top 18%
      right 8%
      background-color #F9CB49
    .box-bottom-left
      bottom  8%
      left 8%
      background-color #F1536A
    .box-bottom-right
      bottom 8%
      right: 8%
      background-color #31ABF9
    .shirt
      position absolute
      bottom -20%
      left -15%
      width 55%
      height 40%
      background #113234
      vendor('border-top-left-radius',100px)
      vendor('border-top-right-radius',100px)
      .rod
        position absolute
        top -20%
        width 75%
        height 25%
        left 12.5%
        background #B3B3B3
        .rod-end-left
        .rod-end-right
          background #B3B3B3
          height 120%
          width 20%
        .rod-end-left
          position absolute
          left -10%
          top -10%
        .rod-end-right
          position absolute
          right -10%
          top -10%
      .head
        position absolute
        height 120%
        top -90%
        left 20%
        width 60%
        background #7FCB85
        vendor('border-bottom-left-radius',100px)
        vendor('border-bottom-right-radius',100px)
        .hair
          position absolute
          top -20%
          width 100%
          height 23%
          background #404040
          vendor('border-top-left-radius',20px)
          vendor('border-top-right-radius',20px)
          .cut-one
          .cut-two
          .cut-three
          .cut-four
            position absolute
            background #7FCB85
            width 10%
            height 50%
            bottom  -10%
            -webkit-clip-path polygon(50% 21%, 0% 100%, 100% 100%)
            clip-path polygon(50% 21%, 0% 100%, 100% 100%)
          .cut-one
            left 5%
          .cut-two
            left 30%
          .cut-three
            left 55%
          .cut-four
            height 80%
            left 80%
        .eye-back-left
        .eye-back-right
          position absolute
          width 21%
          height 20%
          background white
          border-radius 50%
          top 20%
          border 4px solid #404040
        .eye-back-left
          left 20%
        .eye-back-right
          right 20%
        .mouth
          position absolute
          background #404040
          border-radius 15px
          width 60%
          height 25%
          bottom 18%
          left 20%
          .tooth-one
          .tooth-two
          .tooth-three
          .tooth-four
          .tooth-five
          .tooth-six
            background: white
            position: absolute
            width: 23%
            height: 45%
            border-radius: 5px
          .tooth-one
            top 1%
            left 10%
          .tooth-two
            bottom 1%
            left 9%
          .tooth-three
            top 1%
            left 38%
          .tooth-four
            bottom 1%
            left 39%
          .tooth-five
            top 1%
            left 65%
          .tooth-six
            bottom 1%
            left 67%